*.pidb
*.VisualState.xml
*.suo
/InMemoryGraph/bin
/InMemoryGraph/obj
/UnitTests/bin
/UnitTests/obj
/UnitTests/TestResult.xml
/SocialGraphDemo/obj
/SocialGraphDemo/bin
/Blueprints/obj
/Blueprints/bin
/QuadStore/bin
/QuadStore/obj
/QuadStoreExample/bin
/QuadStoreExample/obj
/GenericGraph/obj
/GenericGraph/bin