*.pidb
*.VisualState.xml
*.suo
*.csproj.user
/InMemoryGraph/bin
/InMemoryGraph/obj
/UnitTests/bin
/UnitTests/obj
/UnitTests/TestResult.xml
/Blueprints/obj
/Blueprints/bin
/QuadStore/bin
/QuadStore/obj
/GenericGraph/obj
/GenericGraph/bin