*.pidb
*.VisualState.xml
*.suo
*.csproj.user
*.vsp
*.app.ctl
*.krn.ctl
*.psess
/PropertyGraphs/bin
/PropertyGraphs/obj
/Blueprints/obj
/Blueprints/bin
/Geometry/obj
/Geometry/bin
/GeometryTests/obj
/GeometryTests/bin
/BlueprintsTests/obj
/BlueprintsTests/bin
/BlueprintsTests/TestResult.xml
/TestApplication/obj
/TestApplication/bin
/GraphServer/bin
/GraphServer/obj
/GraphClient/obj
/GraphClient/bin
/Networking/bin
/Networking/obj
/libs/Jurassic/bin
/libs/Jurassic/obj